<%- include('partials/header') -%>

    <!-- About Section with Full-page Background Image -->
    <section class="about-section">
        <div class="background-image">
            <!-- Overlay to make text more readable -->
            <div class="overlay"></div>
            <div class="container">
                <div class="about-content">
                    <h1>About Us</h1>
                    <p><h3 class="info">Welcome to Kerbside - Your ScrapDaddy ;)</h3> Post details about your scrap items and connect with interested people.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Listings Section -->
    <section class="py-5">
      <div class="container-search">
        <center><form action="/listings" class="search-bar">
            <input type="text" class="form-control" placeholder="Search for scrap items" name="searchBar">
            <input type="hidden" name="category">
            <button type="submit" class="btn btn-info">Search</button></center>
        </form>
        <br>
    </div>

    <div class="container">
        <h2 id="listings">Top Listings</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Scrap_Metal.JPG/1200px-Scrap_Metal.JPG?20130529174329' alt="Listing 1">
                    <div class="card-body">
                        <h5 class="card-title">Listing 1</h5>
                        <p class="card-text">Description of Listing 1.</p>
                        <a href="#" class="btn btn-info">View Details</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                <div class="card">
                  <img class="card-img-top" src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Scrap_Metal.JPG/1200px-Scrap_Metal.JPG?20130529174329' alt="Listing 1">
                  <div class="card-body">
                      <h5 class="card-title">Listing 1</h5>
                      <p class="card-text">Description of Listing 1.</p>
                      <a href="#" class="btn btn-info">View Details</a>
                  </div>
              </div>
              </div>
              <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Scrap_Metal.JPG/1200px-Scrap_Metal.JPG?20130529174329' alt="Listing 1">
                <div class="card-body">
                    <h5 class="card-title">Listing 1</h5>
                    <p class="card-text">Description of Listing 1.</p>
                    <a href="#" class="btn btn-info">View Details</a>
                </div>
                </div>
                
            </div>
            </div>
            <!-- Repeat this card structure for more listings -->
        </div>
        </div>
    </section>

    <!-- Add Bootstrap and other JavaScript scripts at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include('partials/footer') -%>