<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Kerbside - Your ScrapDaddy ;)</title>
    <meta
      name="author"
      content="Gundeep Oberoi, Theodore Colbert & Reuben Cruise"
    />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Kerbside</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="/">About</a></li>
          <li><a href="listings">Listings</a></li>
          <li><a href="add">Add</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/account">Account</a></li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div class="container">
        <div class="jumbotron text-center">
          <h2>Browse Listings</h2>
          <p>Do you see anything you could reuse?</p>
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem">
          <img src="/full-shopping-cart-icon-15.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
