/* Custom CSS for navbar */
.nav-link {
  padding-left: 20px;
}

body {
  color: white;
  background-color: #04773B;
}

/* Custom CSS for the background image and overlay */
.about-section {
    position: relative;
    height: 100vh;
}

.background-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Scrap_Metal.JPG/1200px-Scrap_Metal.JPG?20130529174329');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.background-image::before {
    content: "";
    background: inherit;
    filter: blur(2px); /* Add blur effect */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.search-bar{
    width: 100%;
    height: 70px;
    max-width: 700px;
    background: #e7f8b2a2;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    position:relative; 
    top: 1rem; 
    backdrop-filter: blur(4px) saturate(180%);
  }
  
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #026670;
  }

  div.card {
    background-color: #1E441E;
    color: white;
  }

  .btn, .btn-info {
    color: #160C28;
  }

  .mb-2, .badge, .bg-info  {
    color: #160C28;
  }
  
  .listings, .listing-desc {
    background-color: #e7f8b2a2;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Scrap_Metal.JPG/1200px-Scrap_Metal.JPG?20130529174329');
    background-size: 53.1rem 33rem;
    background-position: center;
    background-repeat: no-repeat;
    /* bottom: 5em; */
  }
  
  .listing-desc {
    height: 75vh;
    position: sticky;
    top: 5em;
    bottom: 5em;
    left: 70rem;
  }
  
  .listings {
    padding-top: 2rem;
    padding-left: 1rem;
    height: 33vh;
    position: relative;
    overflow: hidden;
  }
  
  .listings img {
    width: 10em;
    height: 10em; 
  }
  
  .search-bar-listing{
    width: 100%;
    height: 70px;
    max-width: 700px;
    background: #e7f8b2a2;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    position:relative;
    left: 20vw; 
    margin-top: 5vh;
    backdrop-filter: blur(4px) saturate(180%);
    margin-left: 17vw;
  }
  
  .search-bar-listing input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #026670;
  }
  
  .search-bar-listing button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0.4rem;
    background: #9FEDD7;
    position:relative; bottom: 0.04rem; left: 0.5rem;
  
  }
  
  .search-bar-listing button img {
    width: 35px;
    height: auto;
  }
  
  .label-text {
    padding-left: 0.5em;
  }
  
  
  .listing-wrapper div {
    margin-bottom: 4em;
  }
  .image-container {
    width: auto; 
    max-height: 300px; 
    overflow: hidden;
}

.image-container img {
    width: auto; 
    height: auto; 
    object-fit: fit; 
}
.QandAButton {
    background: transparent;
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-chat-3114460-2598238.png?f=webp&w=512');
    border-color: transparent;
    height: 4rem; 
    width: 5rem;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    position:fixed; bottom: 0.25rem; right: 0.25rem;
    border-radius: 50%;
  }
  
  