.content{
    padding-top: 70px;
    color: #160C28;    
}
.card img{
    height:10em;
    width: auto;
}
.card{
    border: 0.1em solid #160C28;
    border-radius: 1em;
    box-shadow: 1em solid #160C28;
    padding: 1em;
}

